.git
.gitignore
node_modules
dist
build
npm-debug.log
yarn-error.log
*.log
.env
.env.local
Dockerfile
docker-compose.yml
readme.md
README.md
.vscode
.idea
test
coverage
*.spec.ts
.eslintrc*
.prettierrc*
deploy.sh