STAGE=dev

// Version antigua, typeorm
DB_PASSWORD=secreto
DB_NAME=InventarioDB
DB_USERNAME=postgres
DB_HOST=localhost
DB_PORT=5434

JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=2h

PORT=6000

FRONTEND_URL=http://localhost:3000

DATABASE_URL="postgresql://alumno:123456@localhost:5435/inventariodev_db?schema=public"