STAGE=dev

JWT_SECRET=change_me_to_a_strong_random_secret
JWT_EXPIRATION=2h

PORT=4000
API_PORT=6040
EXTERNAL_NETWORK=my-database_default

FRONTEND_URL=http://localhost:3000

HOST_API=http://127.0.0.1:6040

DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
